.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.credits {
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
}
