.project-overline {
  color: var(--green);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
}

.project-description {
  background: var(--light-navy);
  padding: 21px;
  border-radius: 8px;
  width: "80%";
  transition: var(--transition);
}
.project-description:hover {
  box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.project-stack-list {
  list-style: none;
  display: flex;
  margin: 21px 0 13px;
  padding: 0px;
}
.project-stack-list li {
  margin: 0 20px 5px 0;
}

.project-links a {
  padding: 10px;
}

.project {
  display: grid;
  position: relative;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1000px !important;
}

.project-content {
  position: relative;
  grid-area: 1/1/-1/7;
  z-index: 2;
}
.project-image {
  grid-area: 1/6/-1/-1;
  z-index: 1;
  position: relative;
}

.project-image img {
  border-radius: var(--border-radius);
}

.picture {
}
